In [2]:


import pandas as pd
import geopandas as gpd
# from shapely.geometry import LineString
#from geopandas.tools import sjoin
#from geodatasets import get_path

In [6]:
import matplotlib.pyplot as plt
import matplotlib.patches as patches


import plotly.express as px

import numpy as np
import seaborn as sns
import math
import os

### Librairies déjà installées avec Python
import pprint
import csv


from shutil import copyfile

In [7]:
from osgeo import gdal
gdal.SetConfigOption('SHAPE_RESTORE_SHX', 'YES')

In [4]:
adresses_filepath = 'spatial_data/adresses_avec_attributs/adresses_avec_attributs.shp'
adresses = gpd.read_file(adresses_filepath)
print(len(adresses))
adresses.head()

180

,pkuid,id,nom rue,numero,proprietai,note,geometry
0,1,NaN,Grand Rue,28,None,plan 1841,POINT (6.82917 47.10291)
1,2,NaN,Grand Rue,18,None,Tosetti : proprietaire ? italien qui auberge d...,POINT (6.83081 47.10346)
2,3,NaN,Grand Rue,6,None,Sacchi : proprietaire ? italien qui auberge d'...,POINT (6.83151 47.1031)
3,4,NaN,Grand Rue,48,None,plan 1841,POINT (6.82738 47.10158)
4,5,NaN,Grand Rue,135,None,plan 1841,POINT (6.83003 47.10248)

In [5]:
adresses_filepath = 'spatial_data/adresses_avec_attributs/adresses_avec_attributs.csv'
adresses.to_csv(adresses_filepath)

In [8]:
rues_filepath = 'spatial_data/rues/rues_simplified_and_modified.shp'
rues = gpd.read_file(rues_filepath)
print(len(rues))
rues.head()

45

,nom_rue_co,numeros,points,geometry
0,Boulevard de la Citadelle,"11,5",2,"LINESTRING (6.83084 47.10828, 6.83104 47.10865)"
1,Fleur de lys,None,1,"LINESTRING (6.83034 47.10262, 6.83054 47.10282)"
2,Grand Rue,"58,51,48,29,28,135,18,6,5",9,"LINESTRING (6.82601 47.10045, 6.8314 47.10348)"
3,Place Hotel de Ville,"5,6",2,"LINESTRING (6.83221 47.10338, 6.83237 47.10345)"
4,Place Neuve,"10,8,2,2",4,"LINESTRING (6.83072 47.10362, 6.83167 47.10405)"

In [9]:
rues_filepath = 'spatial_data/rues/rues_simplified_and_modified.csv'
rues.to_csv(rues_filepath)

In [11]:
immigr_filepath = '../QGIS/database/immigrés italiens CDF 1850.shp'
immigres = gpd.read_file(immigr_filepath)
immigres.head()

                         geometry
0  POINT (335281.292 5218886.527)
1   POINT (335407.86 5218944.657)
2  POINT (335459.692 5218903.317)
3   POINT (335141.124 5218743.25)
4  POINT (335345.672 5218836.909)

In [14]:
adresses_liste_filepath = '../data_export/liste_adresse_final.xlsx'
adresses_liste = pd.read_excel(adresses_liste_filepath)
print(len(adresses_liste))
adresses_liste.head()

327

   partie_a    partie_b  nombre    original
0       NaN         NaN      16         NaN
1  Bärtschi         NaN      13    Bärtschi
2    Müller         NaN      13      Müller
3       NaN    Combe 25      12    Combe 25
4       NaN  Arsenal 10       9  Arsenal 10