In [2]:
import pandas as pd
import geopandas as gpd
import sqlite3 as sql

In [3]:
# DB file
db_file = '../sqlite_immigration_italienne.sqlite'

# create a connection
cn = sql.connect(db_file)

In [7]:
query="""
SELECT DISTINCT vp.pk_personne, vp.person, vp.periode, vp.classement_calcule, 
vo.region, vo.province, vo.nom_ville, vo.long, vo.lat
FROM v_mention_domicile_metier_periode vp
	JOIN Mention m ON m.pk_personne = vp.pk_personne 
	JOIN "Ville origine" vo ON m.fk_ville_origine = vo.pk_ville_origine
WHERE long NOT NULL AND lat NOT NULL;
"""

In [8]:
# Create a cursor
cur = cn.cursor()
cur.execute(query)
# La méthode 'fetchall' permet de récupérer toutes les lignes
r = cur.fetchall()

In [9]:
personnes = pd.DataFrame(r)
personnes.columns=['pk_personne', 'nom', 'periode', 'metier', 'region', 'province', 
                   'ville', 'long', 'lat']
personnes.tail()

,pk_personne,nom,periode,metier,region,province,ville,long,lat
374,416,Bonaccio Serafino,1861_1870,entreprise de construction,Piemonte,Vercelli,Borgosesia,45.7186,8.2768
375,417,Bonardo Lorenzo,1861_1870,entreprise de construction,Piemonte,Biella,Cossato,45.5612,8.1862
376,418,Ravelli Pietro,1861_1870,entreprise de construction,Piemonte,Verbano-Cusio-Ossola,Albogno,46.1396,8.4209
377,420,Naula Pierre,1861_1870,entreprise de construction,Piemonte,Vercelli,Vintebbio,45.6673,8.3324
378,421,Tirozzi Omobono,1861_1870,atelier artisanal,Piemonte,Verbano-Cusio-Ossola,Trasquera,46.2131,8.2137